[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "disclapmix2"]
	path = disclapmix2
	url = https://github.com/mkruijver/disclapmix2
[submodule "forensicpopdata"]
	path = forensicpopdata
	url = https://github.com/mkruijver/forensicpopdata
[submodule "forensim"]
	path = forensim
	url = https://github.com/mkruijver/forensim
[submodule "ibdsegments"]
	path = ibdsegments
	url = https://github.com/mkruijver/ibdsegments
[submodule "numberofalleles"]
	path = numberofalleles
	url = https://github.com/mkruijver/numberofalleles
[submodule "simDNAmixtures"]
	path = simDNAmixtures
	url = https://github.com/mkruijver/simdnamixtures
